---
import type { CollectionEntry } from "astro:content";

type Props = {
  experience: CollectionEntry<"experience">["data"];
};

const { company, role, startDate, endDate, highlights } =
  Astro.props.experience;

function formatDate(date: Date): string {
  return date.toLocaleDateString("en-US", { month: "long", year: "numeric" });
}

function formatDateRange(start: Date, end?: Date): string {
  const startStr = formatDate(start);
  if (!end) return startStr;
  return `${startStr} to ${formatDate(end)}`;
}

const dateRange = formatDateRange(startDate, endDate);
---

<li class="ms-6 mb-6 sm:mb-10">
  <div
    class="bg-brand border-brand absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border"
  >
  </div>

  <time
    class="text-text-muted mb-1 text-sm leading-none font-normal sm:text-base"
  >
    {dateRange}
  </time>

  <h3 class="text-brand mt-2 text-lg font-semibold sm:text-xl lg:text-2xl">
    {role}
  </h3>

  <p class="text-text-muted mt-1 text-sm leading-none sm:text-base">
    {company}
  </p>

  <ol class="mt-4 ml-5 list-decimal">
    {
      highlights.map((highlight) => (
        <li class="text-text-subtle mb-4 text-base font-normal text-pretty sm:text-lg">
          {highlight}
        </li>
      ))
    }
  </ol>
</li>
